.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.choice {
    flex: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img_choice {
    width: 30%;
    height: auto;
    flex: auto;
}