.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.choice {
    flex: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.img_choice {
    width: auto;
    height: 300px;
    flex: auto;
}
.button_wrapper {
    display: flex;
    gap: 12px;
    flex: auto;
}
button {
    background-color: #c7c7c7;
}